<a href="https://colab.research.google.com/github/sizhaoliu/StitchDataConnectors/blob/master/FlatMapTalendComponents.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import io
import csv

In [ ]:
df = pd.read_csv("sample_data/TalendStudioComponents.csv", delimiter=',', header=0,
                 names=['Product', 'Acronym', 'Name', 'Family', 'ESB', 'Visible', 'DI', 'MR', 'Spark', 'SparkStreaming', 'Technology']) 
df.tail()

                                  Product  ...             Technology
22900                          Talend ESB  ...  Aggregate (Mediation)
22901       Talend Data Services Platform  ...  Aggregate (Mediation)
22902  Talend Real-Time Big Data Platform  ...  Aggregate (Mediation)
22903                 Talend MDM Platform  ...  Aggregate (Mediation)
22904                  Talend Data Fabric  ...  Aggregate (Mediation)

[5 rows x 11 columns]

In [ ]:
df_dedupe = df.drop_duplicates()
df_dedupe.count()

Product           19856
Acronym           19856
Name              19856
Family            19856
ESB               19856
Visible           19856
DI                19856
MR                19856
Spark             19856
SparkStreaming    19856
Technology        19856
dtype: int64

In [ ]:
def newResultRow(framework, product, acronym, family, technology, name):
  output_row = {}
  output_row['Framework'] = framework
  output_row['Product'] = product
  output_row['Acronym'] = acronym
  output_row['Family'] = family
  output_row['Technology'] = technology
  output_row['Name'] = name
  return output_row

In [ ]:
result_table = []

for index, row in df_dedupe.iterrows():
  if (row['Acronym'].startswith('TOS')):
    continue

  if (row['ESB'] == 1):
    output_row = newResultRow('ESB', row['Product'], row['Acronym'], row['Family'], row['Technology'], row['Name'])
    result_table.append(output_row)
  
  if (row['DI'] == 1):
    output_row = newResultRow('DI', row['Product'], row['Acronym'], row['Family'], row['Technology'], row['Name'])
    result_table.append(output_row)
  
  if (row['MR'] == 1):
    output_row = newResultRow('MR', row['Product'], row['Acronym'], row['Family'], row['Technology'], row['Name'])
    result_table.append(output_row)
  
  if (row['Spark'] == 1):
    output_row = newResultRow('Spark', row['Product'], row['Acronym'], row['Family'], row['Technology'], row['Name'])
    result_table.append(output_row)
  
  if (row['SparkStreaming'] == 1):
    output_row = newResultRow('SparkStreaming', row['Product'], row['Acronym'], row['Family'], row['Technology'], row['Name'])
    result_table.append(output_row)

In [ ]:
with open("sample_data/Output.csv", 'w') as out_file:
      # The table has headers as following
      headers = [ 
          'Framework',
          'Product',
          'Acronym',
          'Family',
          'Technology',
          'Name',
      ]
      writer = csv.DictWriter(out_file, headers)
      # write the header
      writer.writeheader()
      for row in result_table:
          if row:
              writer.writerow(row)